asgiref==3.5.1
backports.zoneinfo==0.2.1
Django==3.0.5
pip==21.3.1
setuptools==60.2.0
sqlparse==0.4.2
wheel==0.37.1

psycopg
psycopg2-binary

django-heroku==0.3.1
gunicorn==20.1.0

projects
pyproject
pyproject-toml

requests==2.23.0

fontawesomefree